*{
    box-sizing: border-box;
}


body{
    background-color: #bba0b2;
    margin: 0px;
}

footer{
    background-color: #9d858d;
    text-align: center;
    color: #E1CBDA;
    padding: 20px;
}

main{
    padding: 20px;
}


.d {
    padding-left: 20px;
    display: flex;            
    align-items: flex-start;   
    gap: 20px;                
}

.d img {
    width: 45%;                
    height: auto;             
    border-radius: 10px;
}
  
.p1{
    
    width:40%;
    font-size: 24px;
    font-style: oblique;
    font-weight: bold;
    line-height: 1.8;
    color: #8e717a;
}
.p2{
    float: right;
    text-align: left;
    width:48%;
    padding-left: 18px;
    
}
.p3 {
    text-align: left;
    width: 48%;
    padding-left: 18px;
    float: none;             
    
}
.p6{
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align:left ;
    padding-top: 0px;
    padding-left: 40px;
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
}
.p7{
    margin-top: 5px;
    padding-top: 0px;
    float: right;
    padding-left: 30px;
    text-align:left;
    padding-right: 30px;
    font-size: 18px;
    font-style: oblique;
    color: #5a454b;
    
}
.card.card1{
    padding-top: 15px;
    display: flex;                
    align-items: center;          
    justify-content: center;      
    gap: 20px;                   
    text-align: center; 
    background-color: rgb(229, 215, 220);
    background-size: cover;
    border-radius: 10px;
    
}

.card{
    background-color: rgb(229, 215, 220);
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin:20px 10px;
    border-radius: 10px;
    text-align: center;
}

h2{
    background-color:#9d858d ;
    font-family: 標楷體;
    text-align: center;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 5px;
}
ul{
    margin-top: 5px;
    float: left;
    width: 45%;
    padding-top:0px;
    padding-left: 15px;
    text-align: left;
    line-height: 45px;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}

.skills-bar {
    text-align: center;
    width: 100%;
    border-radius: 10px;
}
  
.skill {
    margin-bottom: 30px;
}
  
.skill p {
    font-weight: bold;
    color: #4a2f6b;
    margin-bottom: 5px;
}
  
.bar {
    background: #d4c2ea;
    width: 60%;      
    height: 10px; 
    margin: 0 auto;     
    border-radius: 10px;
    position: relative; 
}
  
.fill {         
    height: 100%;           
    background: #4a2f6b;     
    border-radius: 10px ;
}
  

.social{  
    text-align:left ;
    width: 48%;
    padding-left: 20px;
    padding-top: 0px;
}



article{
    float: left;
    width: 49%;
}
aside{
    float: right;
    width: 49%;
   
}

.clearfix{
    clear: both;
}
@media screen and (max-width:800px){
    article,aside{
        float: none;
        width: 100%;
    }
    .card{
        
        margin: 15px 0px ;
    }
    h2{
        margin-top: 0px;
        margin-bottom: 15px;
    }
    img{
        max-width: 100%;
        height: 90%;
    }
}


  